.div {
  display: flex;
  justify-content: center;
}

.wrap {
  margin: 3rem;
  width: 50%;
}

.sentence {
  margin-top: 2rem;
}

.title {
  color: rgb(66, 66, 66);
  padding-top: 100px;
}

.edu {
  color: rgb(66, 66, 66);
  padding-top: 50px;
}

.uni {
  display: flex;
}

.img {
  width: 100px;
  height: 100px;
  margin: 2rem;
}

.sentenceEdu{
    margin: auto;
}
