.div {
}
.first {
  text-align: center;
  display: block;
}
.second {
  margin-top: 2rem;
  text-align: center;
  display: block;
  color: rgb(66, 66, 66);
}
.name{
    color:rgb(255, 61, 94);
}
.image {
  width: 300px;
  height: 300px;
  border-radius: 60px;
}

.title{
  margin-top: 1rem;
}
